---
import Github from "../Icons/Github.astro";
---

<section>
  <div class="flex justify-between">
    <h4>©2024 Dominic Cabrera 👾</h4>
    <a href="https://github.com/DomCabrera" rel="noopener" target="_blank"
      ><Github class="size-6" /></a
    >
  </div>
</section>
