---
import { TAGS } from "../utils/tags";
import TecnologiasIcon from "../Icons/Tecnologias.astro";

type tag = {
  name: string;
  class: string;
  icon: any;
};
---

<section class="max-w-xl my-20">
  <h2
    class="text-3xl font-bold flex items-center sm:gap-4 gap-2 justify-center"
  >
    Tecnologias <span><TecnologiasIcon /></span>
  </h2>
  <p class="text-lg mb-8">
    He trabajado diversas tecnologias. Creando proyectos, prototipos y
    colaborando con diversos desarrollos.
  </p>

  <ul
    class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 justify-center"
  >
    {
      Object.values(TAGS).map((tag: tag) => (
        <li class={`py-2 ${tag.class} sm:px-2 rounded-lg my-5`}>
          <span class="flex justify-center">
            {tag.icon && <tag.icon class="size-28" />}
          </span>
          <span class="flex justify-center mt-2">{tag.name}</span>
        </li>
      ))
    }
  </ul>
</section>
